:root {
  --main-color: #fd5c32;
  --background-color: #f5f5f5;
  --main-color-faded: rgba(253, 92, 50, 0.5);
}
main {
  min-width: 100vw;
  min-height: 83vh;
  background-color: var(--background-color);
}
* {
  box-sizing: border-box;
}

.containerCustom {
  background-color: white;
  height: 100vh;
}
.searchbar {
  position: relative;
  flex-grow: 1;
}
.searchbar-input {
  width: 100%;
  border-radius: 30px;
  padding: 10px 30px 10px 10px;
  outline: none;
  border: none;
}
.fa-search {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
}

.hamburger {
  color: white !important;
  border-color: white !important;
  border-radius: 100%;
  padding: 0.3rem;
}

.bg-custom {
  background-color: var(--main-color) !important;
}

.navbar-nav-link {
  color: white !important;
  padding: 5px 20px !important;
  border: 1px solid white !important;
  margin: 5px 10px 5px 0;
  border-radius: 30px;
  width: 120px;
  text-align: center;
}

.link-register {
  color: black !important;
  background-color: white;
}
.navbar-nav-dropdown {
  color: white !important;
  max-width: fit-content;
}

@media only screen and (max-width: 600px) {
  .navbar-brand {
    text-align: center;
  }
  .navbar-nav-dropdown {
    text-align: center;
  }
  .navbar-nav-link {
    margin: 5px auto 5px auto;
  }
}

@media only screen and (max-width: 768px) {
  .navbar-brand {
    justify-self: center !important;
  }
  .navbar-nav-dropdown {
    text-align: center;
    align-self: center;
  }
  .navbar-nav-link {
    margin: 5px auto 5px auto;
  }
}

.cart-qty {
  border: 1px solid white;
  padding: 5px;
  border-radius: 100%;
  background-color: red !important;
}

.bg-primary {
  background-color: var(--main-color) !important;
}
.bg-primary:hover {
  background-color: #cb5c0d !important;
}

.carousel-caption {
  background-color: var(--main-color-faded);
  max-width: fit-content;
  border-radius: 30px;
  padding: 6px 1rem;
  margin: 0 auto 0.5rem auto;
  font-size: 1.5rem;
  text-transform: capitalize;
  font-weight: bold;
}

.carousel-image {
  height: 400px;
  object-fit: cover;
}

.carousel-indicators .active {
  background-color: var(--main-color) !important;
}

.homepage-card {
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.08), 0 0 6px rgba(0, 0, 0, 0.05);
  transition: 0.3s transform cubic-bezier(0.155, 1.105, 0.295, 1.12),
    0.3s box-shadow,
    0.3s -webkit-transform cubic-bezier(0.155, 1.105, 0.295, 1.12);
}
.homepage-card:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.12), 0 4px 8px rgba(0, 0, 0, 0.06);
}

.nav-link-underline {
  border-bottom: 2px solid var(--main-color);
}
.pagination {
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.08), 0 0 6px rgba(0, 0, 0, 0.05);
  margin: 10px auto;
  padding: 0.5rem 2rem;
  width: fit-content;
  align-items: center;
  border-radius: 20px;
}

.pagination .active {
  background-color: var(--main-color);
  padding: 0.5rem;
  color: white;
  border-radius: 10px;
  margin: 0 0.2rem;
}

.pagination > li {
  padding: 0.5rem;
}
a {
  outline: none;
}
.pagination > li:hover {
  background-color: var(--main-color);
  color: white;
  border-radius: 10px;
}

.previous,
.next {
  background-color: var(--main-color-faded);
  border-radius: 50%;
  padding: 0px;
  width: 37px;
  height: 37px;
  color: white;
  text-align: center;
}
.previous {
  margin-right: 6px;
}
li .next {
  margin-left: 6px;
  padding: 10px;
}

.previous > a {
  padding: 0;
  width: 19px;
}
