:root {
  --main-color: #fd5c32;
}

* {
  box-sizing: border-box;
}

.searchbar {
  position: relative;
  flex-grow: 1;
}
.searchbar-input {
  width: 100%;
  border-radius: 30px;
  padding: 10px 30px 10px 10px;
  outline: none;
  border: none;
}
.icon-searchbar {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
}

.hamburger {
  color: white !important;
  border-color: white !important;
  border-radius: 100%;
  padding: 0.3rem;
}

.bg-custom {
  background-color: var(--main-color) !important;
}

.navbar-nav-link {
  color: white !important;
  padding: 5px 20px !important;
  border: 1px solid white !important;
  margin: 5px 10px 5px 0;
  border-radius: 30px;
  width: 120px;
  text-align: center;
}

.link-register {
  color: black !important;
  background-color: white;
}
.navbar-nav-dropdown {
  color: white !important;
  max-width: fit-content;
}

@media only screen and (max-width: 600px) {
  .navbar-brand {
    text-align: center;
  }
  .navbar-nav-dropdown {
    text-align: center;
  }
  .navbar-nav-link {
    margin: 5px auto 5px auto;
  }
}

@media only screen and (max-width: 992px) {
  .navbar-brand {
    justify-self: center !important;
  }
  .navbar-nav-dropdown {
    text-align: center;
    align-self: center;
  }
  .navbar-nav-link {
    margin: 5px auto 5px auto;
  }
}

.cart-qty {
  border: 1px solid white;
  padding: 5px;
  border-radius: 100%;
  background-color: red !important;
}
